/*Base Styles*/
body {
    background-color: #c4d3dd;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
}


#main {
  width:80%;
  margin: 0 auto;
}

/*Main Controls & Child Elements*/
#main-controls {
  margin-top: 20px;
  margin-left: 50px;
  height: 50px;
}


#main-controls div {
  display: inline-block;
  padding-right: 45px;
}


#main-controls #star-rating {
  width: 150px;
}


#main-controls #restart {
  font-size: .7em;
}


#game-holder {
  min-width: 550px;
  max-width: 1200px;
}


#memory-game li {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  list-style: none;
  height: 150px;
  width: 100px;
  background-color: #555;
  margin: 10px;
  float: left;
}


#memory-game i.fa {
  color: white;
  font-size: 3em;
  align-self: center;
  /*display: none;*/
}

/*Cards*/
.white-shadow {
  -moz-box-shadow:    3px 3px 0px 0px #fff;
  -webkit-box-shadow: 3px 3px 0px 0px #fff;
  box-shadow:         3px 3px 0px 0px #fff;
}

i.fa.fa-diamond, i.fa.fa-restart {
  color: black;
}


i.fa.fa-diamond {
  font-size: 1.8em;
}


.card {
  /*http://lea.verou.me/css3patterns/*/
  background:
  linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
  linear-gradient(63deg, transparent 74%, #999 78%),
  linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
  #444;
  background-size: 16px 48px;
}


#memory-game .card.open i, #memory-game .card.match i {
  display: inline-block;
}


.card:hover, #restart:hover {
  cursor: pointer;
}


/*Cool 3d effect
https://desandro.github.io/3dtransforms/docs/card-flip.html*/
