/*CSS file*/
#main {
  width:80%;
  margin: 0 auto;
}

#main-controls {
  float: left;
  width: 20%;
}

#game-holder {
  float: left;
  width: 780px;
}

#memory-game li {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  list-style: none;
  height: 150px;
  width: 100px;
  background-color: #555;
  margin: 10px;
  float: left;
}

i.zmdi {
  color: white;
  font-size: 4em;
  align-self: center;
}

i.zmdi.zmdi-star, i.zmdi.zmdi-undo  {
  color: black;
  font-size: 2em;
}

.card {

}
.card:hover {
  cursor: pointer;
}

.card.open {
  background-color: #999;
}

/*Possible 3d effect
https://desandro.github.io/3dtransforms/docs/card-flip.html*/
